html, body {
    margin-top: 0px !important;
}

.proile_body, .resume_post_body P {
    text-align: justify;
}

.margin-top-10 {
    margin-top: 10px
}

.resume_post_body_detail {
    padding-left: 20px;
}

.resume_post_body_detail h5 {
    font-weight: bold;
    font-size: 18px;
    padding: 15px 0 0;
}

.resume_post_body_detail > ul > li {
    padding: 0 0 10px;
    font-weight: bold;
}

.resume_post_body_detail > ul > li > ul > li {
    /*padding: 5px 0;*/

    padding: 2px 0 5px;
    font-weight: normal;
}

.job-period {
    font-size: 14px;
    margin-bottom: 0px;
    padding-top: 3px;
    padding-left: 18px;
}

.post_subtitle {
    padding-top: 5px;
    margin-bottom: 3px;
}

.company-description {
    padding-top: 10px;
    padding-left: 20px;
}

.resume_sidebar .widget {
    margin-top: 25px;
}

h1#profile_title {
    font-size: 25px;
}