.right_sidebar #primary, #primary { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: medium none; margin: 0; width: 100%; }
.dark .right_sidebar #primary { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); }
table.colored { display: none; }
#swither_block { display: none; }
#header .social_links { display: none; }
.section_header.opened .section_title .section_icon:after, .section_header .section_title.current .section_icon:after, .section_header.opened .section_title .section_icon, .section_header .section_title.current .section_icon { display: none; }
html, body { background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important; margin-top: 35px !important; }
body { color: #060606; font-size: 15px; line-height: 17px; }
#page { max-width: 750px; width: 100%; }
#main { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); margin-left: 0; width: 100%; }
.profile_section_body { padding: 24px 0 41px; }
#profile_header { padding: 0; }
#profile_header table{ width:100%;}
#profile_data .profile_row { display:block;}
#profile_data { width: 250px; }
.opened #profile_photo { border: 1px solid #E6E6E6; box-shadow: 1px 2px 1px #F8F8F8; margin-bottom: 1px; width: 122px; }
.section_header { border: medium none; overflow: hidden; }
h3.category_title { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); color: #000000; font-size: 26px; margin-bottom: 19px; padding: 0; text-transform: uppercase; }
h3.category_title .category_title_icon { display: none; }
.wrapper.resume_wrapper { padding-top: 0; }
.resume_period { color: #4CA5D0; float: right; font-size: 26px; line-height: 32px; margin-bottom: -9px; }
.post_subtitle { clear: both; }
.post_title { font-size: 18px; font-weight: 700; margin-bottom: 0; overflow: hidden; padding-top: 3px; }
.post_subtitle { color: #4CA5D0; font-size: 18px; margin-bottom: 18px; padding-left: 18px; text-transform: capitalize; }
article.resume_post { border-top: 2px solid #F7F7F7; margin-top: 23px; padding-top: 18px; }
article.resume_post.first { border-top: medium none; margin-top: 0; padding-top: 0; }
.category.resume_category { border-top: 2px solid #4CA5D0; padding-top: 41px; }
.wrapper.resume_wrapper > .category { margin-top: 40px; }
.sidebar.resume_sidebar { float: none; margin: 0; width: 100%; }
#profile_position, #profile_data .profile_row a { color: #4FA6D1; }
.widget_skills .style_1 .progressbar { height: 17px !important; }
.widget_skills .style_1 .progress { border-top: 17px solid #4CA5D0; height: 0 !important; overflow: visible !important; }
.widget_skills .style_1 .skills_row { margin-top: 13px !important; }
.widget_skills .style_1 .caption { color: #050505 !important; font-size: 15px !important; padding-bottom: 3px; }
#toTop { display: none !important; }
.sidebar.resume_sidebar { border-top: 2px solid #4CA5D0; margin-top: 40px; padding-top: 40px; }
.sidebar.resume_sidebar h2.sidebar_title { color: #010101; font-size: 26px; font-weight: 700; margin-bottom: 20px; text-transform: uppercase; }
.widget_skills .style_1 .value { margin: -16px -30px 0 20px !important; position: relative; z-index: 999; }
.widget .widget_title { color: #4CA5D0; font-size: 18px; line-height: 22px; margin-bottom: 12px; }
footer#footer { display: none; }
#profile_user { overflow: hidden; }
.opened #profile_data { float: none; max-width: none; padding: 0; right: 0 !important; transform: none; vertical-align: top; width: auto; }
td#profile_user { float: none; width: auto; }
#profile_title { max-width: 250px; }
#profile_header table tr td { vertical-align: top; }
.widget_skills .style_1 .value { color: #666666 !important; }
.widget_skills .style_1 .skills_row { margin-right: 40px; }
@media print {
    h3.category_title { page-break-before: auto; }
}

