@import url(../style/responsive.css);
@import url(../style/shift-settings.css); 
@import url(../style/dark-theme.css); 
@import url(../style/font-awesome/css/font-awesome.min.css); /*font ico*/
@import url(../style/prettyPhoto.css);
@import url(../style/jquery.reject.css);
@import url(../style/mediaplayer.css);

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
/*
Theme Name: Shift CV [v1.1]
Theme URI: http://shiftcv.themerex.net/
Author: ThemeREX - http://ThemeREX.net/
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline;}
html { overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { background: #f4f4f4; font-family: 'Lato', sans-serif; font-size: 14px; line-height: 20px; color: #646464;}

a img { border: none;}

code { display: block; padding: 10px; font-family: 'Courier New', monospace;}

h1, h2, h3, h4, h5, h6 { margin-bottom: 10px; }
h1 { font-size: 20px; line-height: 24px;}
h2 { font-size: 18px; line-height: 21px;}
h3 { font-size: 17px; line-height: 21px;}
h4 { font-size: 16px; line-height: 20px;}
h5 { font-size: 15px; line-height: 20px;}
h6 { font-size: 14px; line-height: 17px;}

.cms-caption { position: relative; overflow: hidden;}
.cms-caption img {vertical-align: top; width: 100%;}
.cms-caption .cms-caption-text { color: #fff; position: absolute; bottom: 0; left: 0; right: 0; padding: 10px; background: url(../images/slider-caption1.png) 0 0 repeat;}
.single .cms-caption .cms-caption-text { left: 0;}



input[type="text"],
input[type="search"],
input[type="password"],
textarea { line-height: 20px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding: 7px 10px 8px; border: 2px solid #e5e5e5; background: #f5f5f5; outline:none;}
#searchform label {display: none;}
#searchform input[type="search"] { width: 90px;}
button, button:active, 
button:focus {outline: none; border: none;}
button::-moz-focus-inner { border: 0;}


input[type="submit"] { background: #fff; border: 2px solid #e5e5e5; color: #b1b1b1; font-weight: 700; text-transform: uppercase; font-family: "Lato", sans-serif; cursor: pointer; font-size: 12px; height: 27px; padding: 0 7px 2px; line-height: 29px; -moz-box-sizing: content-box; box-sizing: content-box; border-radius: 3px;}
input[type="submit"]:hover { background: #e5e5e5; color: #b1b1b1;}
form label { cursor: pointer; }
form label.required { position: relative;}
form label.required:after { content: "*"; position: absolute; top: -2px; right: -12px; color: #bc3a3a; font-size: 18px; line-height: 22px; font-weight: 400;}
textarea { overflow: auto; resize: none;}

::selection { background: #4ca5d0;  color: #fff; }
::-moz-selection { color: #fff; background: #4ca5d0; }

a {color: #4ca5d0;}
a:hover {color: #646464;}
strong { font-weight: 700;}
.single article .content_text p {margin-bottom: 15px;}

/*background */
.bg1{ background-image: url(../images/bg/bg1.jpg); background-repeat: no-repeat; background-position: top center; background-attachment: fixed;}
.bg2{ background-image: url(../images/bg/bg2.jpg); background-repeat: no-repeat; background-position: top center; background-attachment: fixed;}
.bg3{ background: url(../images/bg/bg3.jpg); background-repeat: no-repeat; background-position: top center; background-attachment: fixed;}
.pattern1{ background-image: url(../images/bg/pattern1.png); background-repeat:) repeat; background-position: center center;}
.pattern2{ background-image: url(../images/bg/pattern2.png); background-repeat: repeat; background-position: center center;}
.pattern3{ background-image: url(../images/bg/pattern3.jpg); background-repeat: repeat; background-position: center center;}
.pattern4{ background-image: url(../images/bg/pattern4.png); background-repeat: repeat; background-position: center center;}
.pattern5{ background-image: url(../images/bg/pattern5.png); background-repeat: repeat; background-position: center center;}

/*radius*/
input[type="text"],
input[type="search"],
input[type="password"],
.widget_qrcode_vcard,
.section_header .section_title .section_icon,
.section_header .section_title a span.icon:before,
.section_header .section_title strong span.icon:before,
#profile_photo,
#portfolio_iso_filters li a,
#googlemap_data .add_info,
article.post .more-link,
article.post .tags_section #post_tags li a,
.single .blog_section article.post.format-link .link,
#post_author,
#post_author div.photo,
.sc_contact_form .enter,
#comments .comment-list li.comment .comment_reply_link a,
#nav_pages ul li a,
.nav_pages_parts > span,
.nav_pages_parts a,
#portfolio_iso_pages li a,
#cms-calendar td a,
.sc_tooltip,
.sc_dropcaps.sc_dropcaps_style_1 span,
.sc_dropcaps.sc_dropcaps_style_2 span,
.sc_toggles h5 a span
{ -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}


/* ======================================= CMS CORE STYLES =================================== */
.alignleft { display: inline; float: left; margin-right: 1.5em;}
.alignright { display: inline; float: right; margin-left: 1.5em;}
.aligncenter { clear: both; display: block; margin: 0 auto;}
.extra_wrap { overflow: hidden;}
#primary .blog_section { padding-bottom: 30px;}
#primary .blog_section.last { padding-bottom: 0;}
#primary .blog_section.last article.post { padding-bottom: 10px;}
#primary .blog_section.last article.post.format-link { padding-bottom: 16px;}
#secondary { float: right; width: 250px; margin-left: -1px; background: url(../images/v_line.gif) 0 0 repeat-y;}
.right_sidebar #primary { float: left; width: 571px; background: url(../images/v_line.gif) right 0 repeat-y;}
#secondary .widget { border-top: 1px solid #e5e5e5; padding: 26px 30px;}
#secondary .widget h3 { margin-bottom: 22px;}
#secondary .widget ul li,
article .content_text ul li { background: url(../images/list_marker.png) 0 5px no-repeat; list-style: none; font-size: 12px; line-height: 20px; margin-bottom: 10px; padding: 0 0 0 16px;}
article .content_text ul li { font-weight: 700;}
#secondary .widget ul li ul { margin-top:10px;}
#secondary .widget ul li ul li { background: url(../images/list_marker2.png) 0 7px no-repeat;}
article ul,
article ol { margin:0 0 20px 20px;}
article li ul,
article li ol { margin-bottom: 0;}
article .content_text ul { margin: 21px 0 20px;}
#secondary .widget ul li a { font-weight: 700; color: #646464; text-decoration: none;
                             -webkit-transition: color ease .2s;
                             -moz-transition: color ease .2s;
                             -ms-transition: color ease .2s;
                             -o-transition: color ease .2s;
                             transition: color ease .2s;}
#secondary .widget ul li a:hover { color: #4ca5d0;}
.allocation_white{ color:#9b9b9b; background-color:#f5f5f5; }
.allocation_dark{ color:#fff; background-color:#373737; }


/* ======================================= ISOTOPE SETTINGS =================================== */
.isotope-item {z-index: 2;}
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1;}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:  -moz-transform, opacity;
    -ms-transition-property:   -ms-transform, opacity;
    -o-transition-property:   -o-transform, opacity;
    transition-property:  transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* ======================================= SHORTCODES STYLES =================================== */
.map-canvas { min-width:100px; min-height:100px;}
blockquote.sc_quote { float: left; width: 38%;  position: relative; padding: 18px 27px 20px 34px; color: #9b9b9b; font-style: italic;}
blockquote.sc_quote:after { clear: both; display: block; width: 100%; content: "";}
blockquote.sc_quote .quotes { position: absolute; top: 16px; left: 0; font-size: 14px; line-height: normal; width: 26px; height: 26px; background: #f1f1f1; text-align: center; border-radius: 26px;}
blockquote.sc_quote .quotes:before { display: inline-block; padding-top: 5px; color: #b1b1b1;}

/* ======================================= WIDGETS STYLES =================================== */

.widget_qrcode_vcard { border: 2px solid #e5e5e5; padding: 23px 28px 24px;}
.widget.widget_qrcode_vcard h3.widget_title { padding: 0; margin-bottom: 24px;}

/* Widget QR Code VCard */
.widget_qrcode_vcard img { width:160px;}

/*tweet*/
#secondary .widget .widget_twitter{}
#secondary .widget .widget_twitter li{  font-size: 12px; line-height: 16px; margin:0; padding:0 0 24px 0; list-style:none; background:none;}
#secondary .widget .widget_twitter li.last{ padding:0;}
#secondary .widget .widget_twitter li a{ color:#4CA5D0;}
#secondary .widget .widget_twitter li .date{ color:#646464;}

/* ======================================= CONTENT STYLES ==================================== */

#page { overflow: hidden; width: 940px; margin: 0 auto; /*padding-top: 37px;*/}

/*  Header  */
#header { overflow: hidden; margin-bottom: 21px;}

/* Social Links Top*/
#header .social_links { padding-top: 20px; float: right; margin-right: 57px; overflow: hidden; }
#header .social_links li { list-style: none; float: left; margin-left: 13px; }
#header .social_links li a { display: block; width: 22px; height: 22px; overflow:hidden; text-indent:999px; white-space:nowrap; background-image: url(../images/social_ico.png); background-repeat:no-repeat;}
/*soc*/
#header .social_links li.rss a:hover{ background-position:0 0; }
#header .social_links li.fb a:hover{ background-position: -22px 0; }
#header .social_links li.tw a:hover{ background-position: -44px 0; }
#header .social_links li.gplus a:hover{ background-position: -66px 0; }
#header .social_links li.lnkd a:hover{ background-position: -88px 0; }
#header .social_links li.drb a:hover{ background-position: -110px 0; }
#header .social_links li.vim a:hover{ background-position: -132px 0; }
#header .social_links li.pin a:hover{ background-position: -154px 0; }
#header .social_links li.skp a { background-position: -176px 0; }
#header .social_links li.xing a:hover{ background-position: -198px 0; }
#header .social_links li.slide_share a:hover{ background-position: -220px 0; }
/*soc:hover*/
#header .social_links li.rss a{ background-position:0 -22px; }
#header .social_links li.fb a{ background-position: -22px -22px; }
#header .social_links li.tw a{ background-position: -44px -22px; }
#header .social_links li.gplus a{ background-position: -66px -22px; }
#header .social_links li.lnkd a{ background-position: -88px -22px; }
#header .social_links li.drb a{ background-position: -110px -22px; }
#header .social_links li.vim a{ background-position: -132px -22px; }
#header .social_links li.pin a{ background-position: -154px -22px; }
#header .social_links li.skp a{ background-position: -176px -22px; }
#header .social_links li.xing a{ background-position: -198px -22px; }
#header .social_links li.slide_share a{ background-position: -220px -22px; }


/* Main */
#resume { position: relative;}
#resume.printable { margin-bottom: 50px;}
#resume_link,
#resume_link_download { height: 60px; background-color: #fff; text-decoration: none; display: block; cursor:pointer;}
#resume_buttons { display: none; position: absolute; top: 0px; right: -60px; width: 60px; margin: 0 0 60px;}

.open #resume_buttons {display: block;}
#resume_link_download { margin-top: 1px;}
#resume_link span.icon,
#resume_link_download span.icon { font-size: 28px; line-height: 32px; display: block; text-align: center; color: #fff; padding: 13px 0 0 0; height:47px; z-index: 50; position: relative;}
#resume_link span.label,
#resume_link_download span.label { width: 0; position: absolute; height: 60px; right: 0; opacity: 0;  font-size: 19px; font-weight: 700; color: #fff; line-height: 59px; padding: 0 15px; z-index: 49; text-transform: uppercase;
                                   -webkit-transition: all ease .2s;
                                   -moz-transition: all ease .2s;
                                   -ms-transition: all ease .2s;
                                   -o-transition: all ease .2s;
                                   transition: all ease .2s;}

#resume_link:hover span.label { width: auto; opacity: 1; margin-right: 60px;}
#resume_link_download:hover span.label { width: auto; opacity: 1; margin-right: 60px;}

#main { width: 820px; margin-left: 60px; background: #fff;}
#main:after { clear: both; display: block; content: ""; width: 100%;}
.section_header { border-top: 1px solid #e5e5e5;}
section#profile { position: relative;}
#blog_page_link,
#profile_page_link { position: absolute; top: 0; right: -60px; display: block; width: 60px; height: 60px; color: #fff; text-decoration: none;}
#blog_page_link span.icon,
#profile_page_link span.icon { width: 60px; height: 60px;  display: block; text-align: center; font-size: 28px; line-height: normal; position: relative; z-index: 444;}
#blog_page_link span:before,
#profile_page_link span:before { padding-top: 16px; display: inline-block;}
#blog_page_link span.label,
#profile_page_link span.label { display: block; position: absolute; right: -999px; z-index: 333; height: 60px; padding: 0 30px; line-height: 59px; font-size: 19px; text-transform: uppercase; font-weight: 700; top: 0px; opacity: 0;
                                -webkit-transition: all ease 1.5s;
                                -moz-transition: all ease 1.5s;
                                -ms-transition: all ease 1.5s;
                                -o-transition: all ease 1.5s;
                                transition: all ease 1.5s;}
#blog_page_link:hover span.label,
#profile_page_link:hover span.label { top: 0; right: 60px; opacity: 1;
                                      -webkit-transition: all ease .6s;
                                      -moz-transition: all ease .6s;
                                      -ms-transition: all ease .6s;
                                      -o-transition: all ease .6s;
                                      transition: all ease .6s;}
.section_header.profile_section_header {border-top: none; min-height: 155px;}
.section_header .section_title a,
.section_header .section_title strong { float: left; position: relative; height: 30px; display: block; color: #fff; text-decoration: none; text-transform: uppercase; font-weight: 700;
                                        -webkit-transition: height ease .2s;
                                        -moz-transition: height ease .2s;
                                        -ms-transition: height ease .2s;
                                        -o-transition: height ease .2s;
                                        transition: height ease .2s;}
.section_header.opened .section_title:after { clear: both; width: 100%; content: ""; display: block;}
.section_header .section_title .section_icon { margin: 10px 10px 0 0; background: #fff; border: solid #e5e5e5 3px; width: 34px; height: 34px; position: absolute; right: 0; background: #ffffff; z-index: 40; cursor: pointer;
                                               -webkit-transition: all linear .2s;
                                               -moz-transition: all linear .2s;
                                               -ms-transition: all linear .2s;
                                               -o-transition: all linear .2s;
                                               transition: all linear .2s;}
.section_header .section_title span.section_icon:hover { background: #e5e5e5;}
.section_header .section_title span.section_icon:hover:after { background-position: 0 bottom;}
.section_header.opened .section_title span.section_icon:hover:after { background-position: 0 0;}
.section_header .section_title .section_icon:after { display: block; position: absolute; top: 9px; left: 4px; background: url(../images/header_controls.png) right bottom no-repeat; width: 26px; height: 16px; content: "";}
.section_header.opened .section_title .section_icon:after,
.section_header .section_title.current .section_icon:after { background-position: right 0;}
.section_header .section_title.current .section_icon:hover:after { background-position: 0 0;}
.section_header .section_title { height: 60px; position: relative; margin-bottom: 0;}
.section_header.profile_section_header .section_title { height: 30px;}
.section_header.opened .section_title a { height: 60px;}
.section_header .section_title .section_name { font-size: 19px;}
.section_header .section_title .section_name a {}
.blog_section .section_header .section_title .section_name { position: relative; display: block; width: 103px; height: 60px; line-height: 59px; padding-left: 30px; background-image: url(../images/title_divider.gif) 0 0 repeat-y;}
.section_header .section_title a span.icon,
.section_header .section_title strong span.icon { position: absolute; top: 0; left: -60px; display: block; width: 60px; height: 60px; font-weight: normal;
                                                  -webkit-transition: all ease .2s;
                                                  -moz-transition: all ease .2s;
                                                  -ms-transition: all ease .2s;
                                                  -o-transition: all ease .2s;
                                                  transition: all ease .2s;}
.section_header .section_title.current a span.icon { width: 100%; padding-right: 60px;}
.section_header.profile_section_header .section_title a span.icon { width: 60px;}
.section_header .section_title a span.icon:before,
.section_header .section_title strong span.icon:before { font-size: 28px; color: #fff; width: 60px; height: 41px; padding-top: 13px; text-align: center; line-height: normal; text-indent: 1px; display: block; top: 3px; left: 0; position: absolute; z-index: 999; vertical-align: baseline;}
.section_header.gallery .section_title strong span.section_name
.section_header.gallery .section_title strong span.icon:before { line-height: 32px;}
.section_header.audio .section_title strong span.icon:before { line-height: 28px;}
.section_header.video .section_title strong span.icon:before { line-height: 28px;}
.section_header.link .section_title strong span.icon:before { text-indent: -1px;}

.section_header .section_title.resume_section_title a span.icon:before,
.section_header .section_title.resume_section_title strong span.icon:before { padding-top: 14px; height: 40px;}
.section_header .section_title.portfolio_section_title a span.icon:before { padding-top: 15px; height: 39px;}
.section_header .section_title.contact_section_title a span.icon:before { padding-top: 12px; height: 42px;}
#mainpage_accordion_area .section_header { height: 60px;}
#mainpage_accordion_area .section_header .section_title:hover { background: #fafafa; cursor: pointer;}
#mainpage_accordion_area .section_header .section_title.current:hover { background: none; cursor: default;}
#mainpage_accordion_area .section_header .section_name { position: relative; z-index: 999; height: 60px; line-height: 59px; display: block; padding: 0 29px; text-align: center; color: #646464;
                                                         -webkit-transition: all ease .2s;
                                                         -moz-transition: all ease .2s;
                                                         -ms-transition: all ease .2s;
                                                         -o-transition: all ease .2s;
                                                         transition: all ease .2s;}
#mainpage_accordion_area .post_header .post_title a { color:#373737;}
#mainpage_accordion_area .post_header .post_title a:hover { color:#646464;}
#mainpage_accordion_area .category_header .category_title a,
#mainpage_accordion_area .post_header .post_title a { text-decoration:none;}
#mainpage_accordion_area .category_header .category_title a:hover { color: #878787;}
#mainpage_accordion_area .post_header .post_title a,
#mainpage_accordion_area .category_header .category_title a {
    -webkit-transition: color ease .2s;
    -moz-transition: color ease .2s;
    -ms-transition: color ease .2s;
    -o-transition: color ease .2s;
    transition: color ease .2s;}
#mainpage_accordion_area .section_header .current .section_name { color: #fff;}
ul.breadcrumbs { overflow: hidden; background: #fcfcfc; padding: 6px 30px 8px;}
ul.breadcrumbs li { color: #b1b1b1; font-size: 11px; line-height: 14px; list-style: none; float: left;}
ul.breadcrumbs li a { color: #b1b1b1; text-decoration: none;}
ul.breadcrumbs li a:hover { color: #646464;}
ul.breadcrumbs li:before { content: "/"; font-size: 11px; line-height: 14px; margin: 0 2px;}
ul.breadcrumbs li:first-child:before { display: none;}
/*  Profile  */
.section_header.profile_section_header .section_title .section_name { display: block; height: 60px; overflow: hidden; position: relative; line-height: 59px; text-align: center; width: 135px;}
.section_header .section_title .section_name:after { position: absolute; left: 0; top: 0; bottom: 0; background: url(../images/title_divider.png) -1px 0 repeat-y; content: ""; display: block; width: 1px;}
.blog_section .section_header .section_title .section_name:after { background-position: 0 0 }
.section_header .section_title.current .section_name:after,
.section_header.opened .section_title .section_name:after { background-position: 0 0;}
#profile_header { clear: both; padding: 0 30px; overflow: hidden;}
.opened #profile_header {padding-top: 30px;}
#profile_data { opacity: 0; position: relative; right: -30px; padding: 2px 10px 0 0; overflow: hidden;  float: right; width: 310px; font-size: 12px; line-height: 20px;
                -webkit-transition: all ease .4s;
                -moz-transition: all ease .4s;
                -ms-transition: all ease .4s;
                -o-transition: all ease .4s;
                transition: all ease .4s;

                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                -webkit-transform-origin:100% 100%;
                transform-origin:100% 100%;}
.opened #profile_data {	height:auto; right: 0; opacity: 1;
                        -webkit-transform: rotate(0);
                        -webkit-transform-origin:100% 100%;
                        transform: rotate(0);
                        transform-origin:100% 100%;}

#profile_data .th { font-weight: 700; width: 90px; margin-right: 10px; text-align: right; display: block; float: left; color: #373737;}
#profile_data .td { overflow: hidden; display: block;}
#profile_data .profile_row { overflow: hidden; display:none; }
#profile_data .profile_row a { text-decoration: none; color: #4ca5d0;}
#profile_data .profile_row a:hover{color: #646464;}
#profile_data .show{ display:block;}

.section_header.opened #profile_data { margin-top: 0;}

#profile_user { overflow: hidden; float: left; width: 100%; max-width: 425px;}
.blog_page #profile_user { padding-top: 30px;}
#profile_photo { margin-right: 20px; border: 4px solid #e5e5e5; float: left; width: 87px;
                 -webkit-transition: all ease .4s;
                 -moz-transition: all ease .4s;
                 -ms-transition: all ease .4s;
                 -o-transition: all ease .4s;
                 transition: all ease .4s;}
.opened #profile_photo {width: 117px;}
#profile_photo img { width: 100%; vertical-align: top; height: auto;}
#profile_name_area { overflow: hidden;}
.opened #profile_name_area { padding-top: 15px;}
h1#profile_title { text-transform: uppercase; font-size: 30px; line-height: 35px; font-weight: 700; color: #373737; margin-bottom: 0;}
h1#profile_title .firstname { text-transform: uppercase;}
#profile_position { font-size: 18px; line-height: 20px; color: #4ca5d0;}
.opened #profile_position {display: block;}
.profile_section_body { padding: 24px 30px 56px;}

.sidebar.resume_sidebar { padding-top: 1px; float: right; width: 190px; margin-left: 60px;}
.wrapper.resume_wrapper { padding-top: 5px; overflow: hidden;}
.wrapper.resume_wrapper > .category { margin-top: 56px;}
.wrapper.resume_wrapper > .category.first { margin-top: 0;}
#mainpage_accordion_area .category_header { margin-bottom: 32px;}
#mainpage_accordion_area .section_body { padding: 25px 30px 56px;}
#mainpage_accordion_area .section_body.contact_section_body { padding-bottom: 30px;}
#mainpage_accordion_area .section_body .post_header { overflow: hidden; margin-bottom: 11px;}
#mainpage_accordion_area .section_body article.post { margin-top: 26px; padding-top: 27px; background: url(../images/line_hor.png) center 0 repeat-x;}
#mainpage_accordion_area .section_body article.post.first { padding-top: 0; margin-top: 0; background: none;}
#mainpage_accordion_area .post_header .resume_period { float: right; font-size: 18px; line-height: 22px; color: #9b9b9b;}
#mainpage_accordion_area .post_header .resume_period .period_present { font-size: 14px;}
#mainpage_accordion_area .post_header .post_title { overflow: hidden; font-size: 18px; line-height: 22px; color: #373737; font-weight: 700; padding-left: 22px; margin-bottom: 1px; position: relative;}
#mainpage_accordion_area .post_header .post_title .post_title_icon { position: absolute; width: 15px; height: 15px; background-image: url(../images/post_title_icon.png); background-repeat: no-repeat; background-position: 5px 3px; top: 4px; left: 0; border-radius: 15px;}
#mainpage_accordion_area .post_header .post_subtitle { font-size: 14px; line-height: 18px; color: #9b9b9b; padding-left: 23px; text-transform: capitalize; margin-bottom: 0;}

h3.category_title { position: relative; background: #373737; font-size: 14px; line-height: 18px; color: #fff; text-transform: uppercase; padding: 5px 10px 7px 39px; font-weight: 700; border-radius: 4px 0 0 4px;}
h3.category_title a { color:#ffffff; text-decoration:none;}
h3.category_title .category_title_icon { border-radius: 3px; position: absolute; display: block; width: 30px; height: 30px; background-image: url(../images/section_marker.png); background-position: 9px 11px; background-repeat: no-repeat; content: ""; top: 0; left: 0;}

/*  Portfolio  */
.portfolio_wrapper { width: 100%; height:auto;}
.portfolio_wrapper .portfolio_items { margin: 0 -10px 0 -2px; overflow: hidden;}
#mainpage_accordion_area .section_body { display: none; position:relative; overflow:hidden;}
.profile_section .section_body { display: block;}
#mainpage_accordion_area .portfolio_items article.portfolio_post { float: left; width:252px; padding-top: 0;  height:auto; overflow:hidden; margin: 0 0 2px 2px;
                                                                   background: none;
                                                                   -webkit-transition: transform,​ opacity ease .5s;
                                                                   -moz-transition: transform,​ opacity ease .5s;
                                                                   -ms-transition: transform,​ opacity ease .5s;
                                                                   -o-transition: transform,​ opacity ease .5s;
                                                                   transition: transform,​ opacity ease .5s;
                                                                   height: 174px;}
#mainpage_accordion_area .portfolio_items article.portfolio_post:hover { border-color: #e5e5e5;}
.portfolio_items article a.w_hover { position: relative; overflow: hidden; display: block;}
.portfolio_items article a.w_hover .overlay { position: absolute; display: block; bottom: 50%; left: 0; right: 0; top: 50%; opacity: 0; background-color: rgba(0,0,0,0.5);  z-index: 99;
                                              -webkit-transition: all linear .2s;
                                              -moz-transition: all linear .2s;
                                              -ms-transition: all linear .2s;
                                              -o-transition: all linear .2s;
                                              transition: all linear .2s;}

.portfolio_items article:hover a.w_hover .overlay { opacity: 1; top: 0; bottom: 0;}
.portfolio_items article img { width:100%; height:auto; vertical-align: top;}
.portfolio_items article h4 { font-weight: 700; position: absolute; top: -20px; left: 20px;  z-index: 9999;
                              font-size: 14px; line-height: 18px; margin-bottom: 0;
                              -webkit-transition: all ease .2s;
                              -moz-transition: all ease .2s;
                              -ms-transition: all ease .2s;
                              -o-transition: all ease .2s;
                              transition: all ease .2s;}
.portfolio_items article h4 a { color: #fff; text-decoration: none;}
.portfolio_items article h4 a:hover { color: #4ca5d0;}
.portfolio_items article .post_content { position: absolute; left: 0; right: 0; bottom: 10px; padding: 0 20px 5px; z-index: 999; margin-bottom: -200px;  font-size: 12px; line-height: 15px;
                                         -webkit-transition: all ease .2s;
                                         -moz-transition: all ease .2s;
                                         -ms-transition: all ease .2s;
                                         -o-transition: all ease .2s;
                                         transition: all ease .2s;
}
.portfolio_items article .post_content a { text-decoration: none; color: #dadada;}
.portfolio_items article .post_content a .arr { margin-left: 2px; font-size: 16px; color: #4CA5D0;}
.portfolio_items article .post_content a:hover { color: #4CA5D0;}
.portfolio_items article:hover .post_content { margin-bottom: 0;}
.portfolio_items article h5 { margin-bottom: 0; pointer-events: none; z-index: 9999; color: #4ca5d0; font-size: 12px; line-height: 15px; bottom: -20px; left: 20px; position: absolute; opacity: 0;
                              -webkit-transition: all ease .2s;
                              -moz-transition: all ease .2s;
                              -ms-transition: all ease .2s;
                              -o-transition: all ease .2s;
                              transition: all ease .2s;}
.portfolio_items article:hover h4 { top: 15px;}
.portfolio_items article:hover h5 { bottom: 123px; opacity: 1;}
.portfolio_items article .overlay 
.section_body.blog_section_body,
.section_body.post_section_body { display:block; position:relative; overflow:hidden;}
#portfolio_iso_filters { padding-top: 5px; overflow: hidden; margin-bottom: 25px;}
#portfolio_iso_filters li { list-style: none; float: left;}
#portfolio_iso_filters li a { display: block; border: 2px solid #e5e5e5; margin-right: 3px; padding: 5px 10px 7px; text-decoration: none; background: #FFF; color: #373737;  font-size: 14px; line-height: 18px; font-weight: 700;
                              -webkit-transition: all ease .2s;
                              -moz-transition: all ease .2s;
                              -ms-transition: all ease .2s;
                              -o-transition: all ease .2s;
                              transition: all ease .2s;}
#portfolio_iso_filters li a:hover { background-color: #e5e5e5;}
#portfolio_iso_filters li a.current { color: #fff; cursor:default;}

#googlemap_data { margin-top: 5px; margin-bottom: 30px; position: relative;}
#googlemap_data .add_info { position: absolute; width: 190px; top: 30px; right: 30px; background: #fff; padding: 26px 30px 20px;}
#googlemap_data .add_info .profile_row { overflow: hidden; margin-bottom: 10px; display: none ; }
#googlemap_data .add_info .profile_row .th { float: left; width: 26px; height: 26px; background: url(../images/contact_icons.png) no-repeat; margin-right: 10px; overflow:hidden; text-indent:100%; white-space:nowrap;}
#googlemap_data .add_info .profile_row .td { display: block; overflow: hidden; font-size: 12px; line-height: 15px; padding-top: 5px; }
#googlemap_data .add_info .profile_row.address .th  { background-position: 0 0;}
#googlemap_data .add_info .profile_row.phone .th 	{ background-position: 0 -36px;}
#googlemap_data .add_info .profile_row.email .th 	{ background-position: 0 -72px;}
#googlemap_data .add_info .profile_row.website .th  { background-position: 0 -108px;}
#googlemap_data .profile_row.header { font-size: 14px; line-height: 17px; height:26px; text-transform: uppercase; font-weight: 700; color: #000; padding-bottom: 7px; margin-bottom: 19px; border-bottom: 1px solid #e5e5e5; display:block;}

article img { width: 100%; height: auto;}
article.post .pic { margin-bottom: 20px;}
article.post .more-link { display: inline-block; border: 2px solid #e5e5e5; background: #fff; padding: 7px 9px 7px; margin-top: 25px; text-decoration: none; color: #b1b1b1; font-size: 12px; line-height: 15px; font-weight: 700; text-transform: uppercase;
                          -webkit-transition: all ease .2s;
                          -moz-transition: all ease .2s;
                          -ms-transition: all ease .2s;
                          -o-transition: all ease .2s;
                          transition: all ease .2s;}
article.post .more-link:hover { background: #e5e5e5; color: #b1b1b1;}
article.post .tags_section { overflow: hidden; clear: both; padding-top: 26px;}
article.post .tags_section .tags_label { float: left; font-size: 12px; letter-spacing: 1px; line-height: 15px; font-weight: 700; color: #373737; margin-right: 7px; padding-top: 8px;}
article.post .tags_section #post_tags { overflow: hidden; margin-bottom: 0;}
article.post .tags_section #post_tags li { list-style: none; float: left; margin: 0 3px 3px 0;}
article.post .tags_section #post_tags li a { display: inline-block; border: 1px solid #e5e5e5; background: #fff; font-size: 12px; line-height: 15px; text-decoration: none; padding: 7px 10px 7px; color: #646464; font-weight: 700;}
article.post .tags_section #post_tags li a:hover { background: #f5f5f5; border-color: #f5f5f5;}
.blog_section_body { clear: both;}
.blog_section .blog_section_header,
.blog_section .post_section_header { padding-bottom: 24px;}
.blog_section .blog_section_header:after { clear: both; width: 100%; content: ""; display: block;}
.blog_section article { padding: 0 31px 0 30px; overflow: hidden;}
.blog_section article:after,
.blog_section article .content_text:after { clear: both; display: block; width: 100%; content: "";}
.blog_section article.post.format-link,
.blog_section article.post.format-quote,
.blog_section article.post.format-status { border: 2px solid #e5e5e5; margin: 6px 31px 20px 30px; padding: 15px 19px 16px;}
.blog_section article.post.format-status .text,
.blog_section article.post.format-quote .text { font-size: 18px; line-height: 20px; color: #646464; font-style: italic;}
.single .blog_section article.post.format-link,
.single .blog_section article.post.format-status,
.single .blog_section article.post.format-quote { padding: 0; border: none;}
.single .blog_section article.post.format-link .link { padding: 20px; border: 2px solid #e5e5e5; margin-bottom: 20px;}
.single .blog_section article.post.format-link .link a { text-decoration: none;}
.blog_section article.post.format-link .post_title { margin-bottom: 0; line-height: 27px;}
.single .blog_section article.post.format-link .post_title { margin-bottom: 25px;}
.blog_section article.post.format-link .post_link { text-decoration: none;}
.blog_section .blog_section_title { float: left; margin:0 17px 0 0;}
.blog_section .post_section_title { margin-bottom: 0;}
.blog_section article .post_title { color: #373737; font-size: 24px; line-height: 29px; font-weight: 700; margin-bottom: 25px;}
.blog_section article .post_title a { color: #373737; text-decoration: none;
                                      -webkit-transition: all ease .2s;
                                      -moz-transition: all ease .2s;
                                      -ms-transition: all ease .2s;
                                      -o-transition: all ease .2s;
                                      transition: all ease .2s;}
.blog_section article .post_title a:hover { color: #646464;}
.post_thumb { margin-bottom: 24px;}
.post_thumb img { vertical-align: top;}
.post-info { overflow: hidden; padding-top: 17px;}
.post-info a { font-size: 11px; line-height: 24px; color: #b1b1b1; text-decoration: none;}
.post-info > a { float: left; overflow: hidden;}
.post-info a:hover { color: #373737;}
#related_posts .post-info a.post_date { margin-right: 10px;}
#related_posts .post-info a span { font-size: 14px; line-height: 17px; position: relative; display: inline-block; width: 12px; height: 12px; margin-right: 4px;}
#related_posts .post-info a span:before { display: inline-block; position: absolute; left: 0; top: 0px;}
.post-info a.post_author span:before { margin-right: 7px; float: left; text-indent: 1px; width: 26px; height: 26px; background: #f5f5f5; text-align: center; font-size: 14px; line-height: 26px;}
.post-info span.post_categories { overflow: hidden; float: left; margin-left: 17px; color: #cdcdcd; max-width: 210px;}
.post-info span.post_categories a {margin-left: 4px;display: inline-block;}
.post-info span.post_categories span + a {margin-left: 0;}
.post-info .post_categories .icon-align-left { background: #f5f5f5; width: 26px; height: 26px; margin-right: 7px; display: block; float: left; text-align: center;}
.post-info .post_categories .icon-align-left:before { display: inline-block; padding-top: 6px; color: #b1b1b1;}
.post-info a.comments_count { margin-left: 17px;}
.post-info a.comments_count span { float: left; margin-right: 7px; width: 26px; height: 26px; background: #f5f5f5; text-align: center;}
.post-info a.comments_count span:before { padding-top: 3px; display: inline-block; font-size: 14px; line-height: 17px;}
.post_section .post-info { padding-left: 17px;}
.post_section .section_header:after { clear: both; width: 100%; content: ""; display: block;}
.slider_container,
.post_gallery { position: relative; overflow: hidden; margin-bottom: 24px;}
.slider_container .flex-direction-nav li,
.post_gallery .flex-direction-nav li { list-style: none; position: absolute; top: 0; bottom: 0; width: 40px; right: -40px;
                                       -webkit-transition: all ease .2s;
                                       -moz-transition: all ease .2s;
                                       -ms-transition: all ease .2s;
                                       -o-transition: all ease .2s;
                                       transition: all ease .2s;}
.slider_container .flex-direction-nav li:first-child,
.post_gallery .flex-direction-nav li:first-child { right: auto; left: -40px;}
.slider_container:hover .flex-direction-nav li,
.post_gallery:hover .flex-direction-nav li { right: 0;}
.slider_container:hover .flex-direction-nav li:first-child,
.post_gallery:hover .flex-direction-nav li:first-child { left: 0;}
.slider_container .flex-direction-nav a,
.post_gallery .flex-direction-nav a { position: absolute; width: 40px; top: 0; bottom: 0; font-size: 0; line-height: 0;}
.slider_container .flex-direction-nav a:after,
.post_gallery .flex-direction-nav a:after { display: block; position: absolute; content: ""; width: 16px; height: 26px; background: url(../images/slider_controls.png) 0 bottom no-repeat; top: 50%; margin-top: -13px; left: 12px;}
.slider_container .flex-direction-nav a.flex-next:after,
.post_gallery .flex-direction-nav a.flex-next:after { left: auto; right: 12px; background-position: right bottom;}
.slider_container .flex-direction-nav a:hover,
.post_gallery .flex-direction-nav a:hover { background: url(../images/slider_controls_bg.png) 0 0 repeat;}
.slider_container .flex-direction-nav a:hover:after,
.post_gallery .flex-direction-nav a:hover:after { background-position: 0 0;}
.slider_container .flex-direction-nav a.flex-next,
.post_gallery .flex-direction-nav a.flex-next { right: 0; left: auto;}
.slider_container .flex-direction-nav a.flex-next:hover:after,
.post_gallery .flex-direction-nav a.flex-next:hover:after { background-position: right 0;}
.slider_container ul.slides li,
.post_gallery ul.slides li { list-style: none; display: none;}
.slider_container ul.slides,
.post_gallery ul.slides { height: 250px; overflow: hidden; margin: 0;}
.slider_container .flex-direction-nav,
.post_gallery .flex-direction-nav { margin: 0;}
.without_sidebar .slider_container ul.slides,
.without_sidebar .post_gallery ul.slides { height: 450px;}

.single .block-social{ margin: 30px 0 0 0;}

.block-social { margin: 30px 0 ; background: #f5f5f5; padding: 13px 20px; overflow: hidden;}
.block-social .soc_label { color: #373737; margin-right: 21px; font-size: 12px; line-height: 20px; font-weight: 700; float: left; padding-top: 1px;}
/* Social Links single*/
#post_social_share { padding: 0; margin: 0; overflow: hidden; }
#post_social_share li { list-style: none; float: left; margin-right: 13px; }
#post_social_share li a { display: block; width: 22px; height: 22px; overflow:hidden; text-indent:999px; white-space:nowrap; background-image: url(../images/social_ico.png); background-repeat:no-repeat;}
/*soc*/
#post_social_share li.rss a:hover{ background-position:0 0; }
#post_social_share li.fb a:hover{ background-position: -22px 0; }
#post_social_share li.tw a:hover{ background-position: -44px 0; }
#post_social_share li.gplus a:hover{ background-position: -66px 0; }
#post_social_share li.lnkd a:hover{ background-position: -88px 0; }
#post_social_share li.drb a:hover{ background-position: -110px 0; }
#post_social_share li.vim a:hover{ background-position: -132px 0; }
#post_social_share li.pin a:hover{ background-position: -154px 0; }
#post_social_share li.skp a { background-position: -176px 0; }
#post_social_share li.xing a:hover{ background-position: -198px 0; }
#post_social_share li.slide_share a:hover{ background-position: -220px 0; }
/*soc:hover*/
#post_social_share li.rss a{ background-position:0 -22px; }
#post_social_share li.fb a{ background-position: -22px -22px; }
#post_social_share li.tw a{ background-position: -44px -22px; }
#post_social_share li.gplus a{ background-position: -66px -22px; }
#post_social_share li.lnkd a{ background-position: -88px -22px; }
#post_social_share li.drb a{ background-position: -110px -22px; }
#post_social_share li.vim a{ background-position: -132px -22px; }
#post_social_share li.pin a{ background-position: -154px -22px; }
#post_social_share li.skp a{ background-position: -176px -22px; }
#post_social_share li.xing a{ background-position: -198px -22px; }
#post_social_share li.slide_share a{ background-position: -220px -22px; }





#post_author { padding: 25px 30px 26px; margin: 0 31px 0 30px; border: 2px solid #e5e5e5; overflow: hidden;}
.single #post_author { margin-top: 30px;}
#post_author div.photo { width: 48px; float: left; border: 3px solid #e5e5e5; margin: 5px 15px 0 0;}
#post_author .photo img { width: 100%; vertical-align: top; height: auto;}
#post_author h3 { overflow: hidden; margin-bottom: 12px; color: #373737; font-weight: 700; font-size: 14px;}
#post_author h3 a { color: #373737; text-decoration: none;}
#post_author h3 a:hover { color: #4ca5d0;}
#post_author h3 a span,
#post_author h3 span { margin-right: 4px; text-transform: uppercase; color: #4ca5d0;}
#post_author .extra_wrap { font-size: 12px; line-height: 18px;}
#related_posts { clear: both; padding: 30px 31px 0 30px;}
#related_posts h3.section_title,
#comments .comments_title { background: #373737; font-size: 14px; line-height: 17px; font-weight: 700; padding: 6px 10px 7px 39px; position: relative; border-radius: 3px 0 0 3px; color: #fff; text-transform: uppercase; margin-bottom: 27px;}
.comment-list #respond {margin-bottom: 20px;}
#comments .comments_title { margin-bottom: 38px;}
#related_posts h3.section_title .icon { left: 0; top: 0; position: absolute; width: 30px; height: 30px; background: #4ca5d0; border-radius: 3px;}
#related_posts h3.section_title .icon:after { content: ""; display: block; width: 13px; height: 9px; background: url(../images/section_marker.png) 0 0 no-repeat; top: 11px; left: 9px; position: absolute;}
#related_posts article { margin-bottom: 18px; padding-left: 16px; background: url(../images/list_marker.png) 0 3px no-repeat;}
#related_posts article h3 { font-size: 14px; line-height: 17px; font-weight: 700; margin-bottom: 1px;}
#related_posts article h3 a { color: #646464; text-decoration: none;}
#related_posts article .post-info { padding: 0;}

/*tags*/
.tagcloud a { display: inline-block; border: 1px solid #e5e5e5; background: #fff; padding: 7px 11px 7px; font-size: 12px; line-height: 15px; color: #646464; text-decoration: none; font-weight: 700; margin: 0 0 3px 0; border-radius: 3px; font-size:11px;} 
.tagcloud a:hover { background: #e5e5e5;}
.tagcloud a:active { background: #4ca5d0; color: #fff; border-color: #4ca5d0;}

/* ======================================= /CONTENT STYLES =================================== */


/* ======================================= Widgets Styles ==================================== */

.resume_sidebar .widget { margin-top: 55px;}
.resume_sidebar .widget:first-child { margin-top: 0;}
.widget .widget_title { font-size: 14px; line-height: 17px; text-transform: uppercase; font-weight: 700; color: #373737; margin-bottom: 23px;}
.widget_skills .caption { font-size: 12px; line-height: 15px; margin-bottom: 2px; color: #646464;}
.widget_skills .svg { height: 130px; margin: 14px 0 0 -2px;}
.widget_skills .style_1 .skills_row { margin-top: 10px;}
.widget_skills .style_1 .caption { color: #646464; display: block; font-size: 12px; font-weight: bold; line-height: 16px; margin-bottom: 4px;}
.widget_skills .style_1 .progressbar { background-color: #E5E5E5; display: block; height: 15px; width: 100%;}
.widget_skills .style_1 .progress { display: block; height: 15px; overflow: hidden; position: relative; text-align: right; width: 0;}
.widget_skills .style_1 .value { color: #FFFFFF; display: inline-block; font-size: 12px; font-weight: bold; line-height: 14px; margin-right: 2px; overflow: hidden; position: relative; vertical-align: top;}
.widget_skills .style_2 { margin-top: -3px;}
.widget_skills .style_2 .skills_row { overflow: hidden;}
.widget_skills .style_2 .skills_row .legend { display: inline-block; height: 9px; margin-right: 7px; width: 9px;}
.widget_skills .style_2 .skills_row .caption { font-weight: 700;}
.widget_skills .style_3 .skills_row { margin-top: 11px; overflow: hidden;}
.widget_skills .style_3 .progressbar { background: url(/../images/level_bg.png) repeat-x scroll 0 0 rgba(0, 0, 0, 0); display: block; float: left; height: 19px; position: relative; width: 97px;}
.widget_skills .style_3 .progress { display: block; height: 17px; position: relative; text-align: left; width: 0;}
.widget_skills .style_3 .progress:after { background: url(../images/level_mask.png) repeat-x scroll 0 0 rgba(0, 0, 0, 0); content: ""; display: block; height: 17px; left: 0; position: absolute; right: 0;}
.widget_skills .style_3 .caption { float: left; font-weight: 700; margin-right: 5px; overflow: hidden; padding-top: 1px; width: 60px;}

/* ======================================= /Widgets Styles =================================== */

.sidebar.contact_sidebar { float: right; width: 220px; margin-left: 30px;}
.contact_form { overflow: hidden;}
.sc_contact_form form .field { margin-bottom: 17px; float: left; width: 240px;}
.sc_contact_form form .result { margin: 10px 0;}
.sc_contact_form form .field.message { margin-bottom: 19px;}
.sc_contact_form form .field:first-child { margin-right: 30px;}
.sc_contact_form form .field input[type="text"],
.sc_contact_form form .field textarea { -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0;}
.sc_contact_form form .field label { display: table; color: #191919; font-weight: 700; padding-bottom: 7px; font-size: 12px; line-height: 15px;}
.sc_contact_form form .field.message { float: none; clear: both; width: 100%;}
.sc_contact_form h3.title { position: relative; background: #373737; font-size: 14px; line-height: 17px; color: #fff; font-weight: 700; text-transform: uppercase; padding: 6px 20px 7px 40px; border-radius: 4px 3px 3px 4px;}
.contact_section_body .sc_contact_form h3.title { margin-bottom: 27px;}

.sc_contact_form .title:after { content: ""; display: block; width: 30px; height: 30px; position: absolute; top: 0; left: 0; border-radius: 3px; background-image: url(../images/section_marker.png); background-position: 9px 11px; background-repeat: no-repeat;}
.sc_contact_form textarea { height: 104px;}
.sc_contact_form .enter { display: inline-block; padding: 5px 12px 6px; background: #fff; color: #373737; font-size: 14px;line-height: 17px; text-decoration: none; font-weight: 700; border: 2px solid #e5e5e5;}
.sc_contact_form .enter:hover { background: #e5e5e5;}

div.sc_infobox {
    text-align: center;
    padding: 9px 10px 9px;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 15px;
    margin: 15px 0 15px 0;
    font-weight:bold;
    position:relative;
}
div.sc_infobox_style_error {
    color: #d29898;
    border: 1px solid #edcece;
    background: rgb(255,250,250); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,250,250,1) 0%, rgba(255,233,233,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,250,250,1)), color-stop(100%,rgba(255,233,233,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,250,250,1) 0%,rgba(255,233,233,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,250,250,1) 0%,rgba(255,233,233,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,250,250,1) 0%,rgba(255,233,233,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,250,250,1) 0%,rgba(255,233,233,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffafa', endColorstr='#ffe9e9',GradientType=0 ); /* IE6-9 */
}
div.sc_infobox_closeable:after { content: ""; text-transform: none; display: block; position: absolute; top: 12px; right: 10px; width: 9px; height: 9px; background: url(../images/close_message_button.gif) 0 0 no-repeat;}
article.post .video_container { overflow: hidden; margin-bottom: 20px; position: relative;}
.video_thumb {position: relative; cursor: pointer;}
.video_thumb .play_button { width: 60px; height: 60px; background: url(../images/play_button.png) 0 0 no-repeat; position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px;
                            -webkit-transition: all ease .2s;
                            -moz-transition: all ease .2s;
                            -ms-transition: all ease .2s;
                            -o-transition: all ease .2s;
                            transition: all ease .2s;}
.video_thumb img { vertical-align: top;}
.post_video {margin-bottom: 20px; position: relative;}
article.post .video_container iframe,
.post_video iframe { width: 100%; position: relative; vertical-align: top;}
.post_section_header .post_section_title { float: left;}

/******************************Footer***********************************/
footer#footer { width: 824px; margin: 0 auto; padding: 22px 0;}
footer#footer .footer_copyright { text-align: right; font-size: 11px; line-height: 14px; color: #9b9b9b;}

#toTop { display: none; width: 50px; height: 50px; background: url(../images/to_top.png) 0 0 no-repeat #f4f4f4; position: absolute; bottom: 57px; right:50%; margin-right: -500px; position: fixed; z-index: 999;}
#toTop:after { display: block; position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; content: "";}
#toTop:hover:after { background: url(../images/to_top.png) center center no-repeat #373737;}

#blog_author { padding-top: 30px; border-top: 1px solid #e8e8e8;}

.single .mejs-container { margin-bottom: 20px;}
.mejs-inner { overflow: hidden;}

/******************Comments******************/
#comments { padding: 36px 31px 0 30px;}
#comments .comments_title { border-radius: 4px 0 0 4px;}
#comments .comments_title:after { content: ""; display: block; width: 30px; height: 30px; border-radius: 4px; position: absolute; top: 0; left: 0; background: url(../images/section_marker.png) 9px 11px no-repeat #6ca338;}
#comments .comments_title span { color: #9b9b9b; margin-left: 2px;}
#comments .comment-list { padding-bottom: 30px;}
#comments .comment-list > li { list-style: none;}
#comments .comment-list > li.comment:first-child { padding-top: 0; background: none;}
#comments .comment-list li.comment { overflow: hidden; margin-bottom: 25px; padding-top: 27px; background: url(../images/line_hor.gif) 0 0 repeat-x;}
#comments .comment-list .children { padding-left: 30px;}
#comments .comment-list li.comment div.photo { float: left; width: 48px; margin: 4px 15px 0 0; border: 3px solid #e5e5e5; border-radius: 3px;}
#comments .comment-list li.comment .photo img { vertical-align: top; width: 100%; height: auto;}
#comments .comment-list li.comment h5 { font-size: 14px; line-height: 17px; font-weight: 700; color: #373737; margin-bottom: 5px;}
#comments .comment-list li.comment h5 a { color: #373737; text-decoration: none;}
#comments .comment-list li.comment h5 a:hover {color: #4ca5d0;}
#comments .comment-list li.comment .comment_date { font-size: 11px; line-height: 14px; color: #b1b1b1;}
#comments .comment-list li.comment .comment_date span { font-size: 14px; line-height: 18px; margin-right: 5px; position: relative; width: 12px; height: 12px; display: inline-block;}
#comments .comment-list li.comment .comment_date span:before { position: absolute; left: 0; top: -1px;}
#comments .comment-list li.comment .comment_info { overflow: hidden;}
#comments .comment-list li.comment .comment_reply_link { float: right; padding-top: 4px;}
#comments .comment-list li.comment .comment_date { overflow: hidden;}
#comments .comment-list li.comment .comment_content { clear: both; padding-top: 14px; color: #646464; font-size: 12px; line-height: 18px;}
#comments .comment-list li.comment .comment_reply_link a { font-size: 12px; line-height: 15px; border: 2px solid #e5e5e5; display: inline-block; padding: 7px 10px 7px; text-decoration: none; color: #b1b1b1; font-weight: 700; cursor:pointer;
                                                           -webkit-transition: all ease .2s;
                                                           -moz-transition: all ease .2s;
                                                           -ms-transition: all ease .2s;
                                                           -o-transition: all ease .2s;
                                                           transition: all ease .2s;}
#comments .comment-list li.comment .comment_reply_link a:hover { background: #e5e5e5; color: #b1b1b1;}
#commentform textarea { width: 100%; -moz-box-sizing: border-box; box-sizing: border-box; vertical-align: top; margin: 0; height: 104px;}
#commentform .form-submit { padding-top: 20px;}
#commentform .comment-form-author,
#commentform .comment-form-email { float: left; width: 47.1%; margin-right: 29px;}
#commentform .comment-form-email { margin-right: 0;}
#commentform .comment-form-comment { clear: both;}
#commentform p + .comment-form-comment { padding-top: 17px;}
#commentform label { display: table; font-size: 12px; line-height: 15px; font-weight: 700; padding-bottom: 7px; color: #191919;}
#commentform .comment-form-author input,
#commentform .comment-form-email input { width: 100%; -moz-box-sizing: border-box; box-sizing: border-box;}

#reply-title { background: none repeat scroll 0 0 #373737;  border-radius: 5px 0 0 5px;  color: #FFFFFF;  font-size: 14px;  font-weight: 700;  line-height: 17px;  margin-bottom: 27px;  padding: 6px 10px 7px 39px;  position: relative;  text-transform: uppercase;}
#reply-title:after { display: block; position: absolute; content: ""; width: 30px; height: 30px; top: 0; left: 0; border-radius: 3px; background: url(../images/section_marker.png) 9px 11px no-repeat #ffbc38;}
#nav_pages { overflow: hidden; padding: 30px 31px 30px 30px;  border-top: 1px solid #e5e5e5; margin-top: 30px;}
#nav_pages > a { display: none;}
#nav_pages ul { overflow: hidden;}
.portfolio_iso_pages { overflow: hidden; padding: 28px 0 4px;}
#nav_pages ul li,
#portfolio_iso_pages li { float: left; list-style: none; margin-right: 3px; }
#nav_pages ul li a,
.nav_pages_parts > span,
.nav_pages_parts a,
#portfolio_iso_pages li a { display: inline-block; font-size: 14px; line-height: 17px; color: #9b9b9b; text-decoration: none; padding: 6px 11px 7px; border: 2px solid #e5e5e5;
                            -webkit-transition: all ease .2s; 
                            -moz-transition: all ease .2s; 
                            -ms-transition: all ease .2s; 
                            -o-transition: all ease .2s; 
                            transition: all ease .2s; }
#nav_pages ul li a:hover,
#nav_pages ul li.current a,
#portfolio_iso_pages li a:hover,
#portfolio_iso_pages li a.current { background: #e5e5e5; color: #9b9b9b;}
#nav_pages .pages { float: left;}
#nav_pages .page_x_of_y,
#portfolio_iso_pages_2 { float: right; color: #b1b1b1; padding-top: 6px;}
/*calendar*/
#cms-calendar { width: 100%;  border-spacing: 0 1px; }
#cms-calendar tbody { border-spacing: 2px;}
#cms-calendar tr th { font-size: 12px; line-height: 15px; font-weight: 700; color: #4ca5d0; padding: 4px 0 4px;}
#cms-calendar thead th { border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;}
#cms-calendar tfoot td#prev { text-align: left; padding: 0;}
#cms-calendar tfoot td#next { text-align: right; padding: 0;}
#cms-calendar tfoot td#prev a,
#cms-calendar tfoot td#next a { background: none; padding: 0;}
#cms-calendar tfoot td#prev a:hover,
#cms-calendar tfoot td#next a:hover { color: #4ca5d0;}
#cms-calendar td { font-size: 12px; text-align: center; padding: 3px 4px 2px; position: relative;}
#cms-calendar tbody td { border: 2px solid #fff; border-width: 1px 1px 0 2px;}
#cms-calendar td a { background: #f5f5f5; display: block; color: #646464; padding: 3px 3px 3px; margin: -4px -4px; text-decoration: none;}
#cms-calendar tr:first-child td { padding-top: 4px;}
#cms-calendar td#today { color: #fff; border-radius: 3px; background: #4ca5d0;}
#cms-calendar caption { font-weight: 700; text-align: center; color: #373737; padding-bottom: 5px; text-transform: uppercase;}


#secondary aside.widget_themerex_recent_posts { padding-bottom: 6px;}
#secondary aside.widget_themerex_recent_posts ul li { padding: 0; background: none; color: #b1b1b1; margin-bottom: 20px;}
#secondary aside.widget_themerex_recent_posts ul li .icons { overflow: hidden;}
#secondary aside.widget_themerex_recent_posts ul li .icons li { float: left; margin: 0 11px 0 0;}
#secondary aside.widget_themerex_recent_posts ul li h4 { font-size: 12px; line-height: 20px; margin-bottom: 0;}
#secondary aside.widget_themerex_recent_posts ul li .icons li span { color: #b1b1b1;}
#secondary aside.widget_themerex_recent_posts ul li .icons li span:before { font-size: 14px; color: #b1b1b1; margin-right: 4px; position: relative; top: 1px;}
#secondary aside.widget_categories { padding-bottom: 16px;}
#secondary aside.widget_categories h3 { margin-bottom: 22px;}
#secondary aside.widget_themerex_recent_posts { padding-bottom: 7px;}
#secondary aside.widget_themerex_recent_posts h3 {margin-bottom: 21px;}
.tagcloud { padding: 5px 0 1px;}
#secondary .widget_themerex_recent_comments ul li { margin: 20px 0 0 0; padding: 0; background: none;}
#secondary .widget_themerex_recent_comments ul li .author a { color: #4ca5d0; text-decoration: none; font-weight: 400;}
#secondary .widget_themerex_recent_comments ul li .author a:hover { color: #646464;}
#secondary .widget_themerex_recent_comments ul li .icon-time { font-size: 14px; color: #b1b1b1; position: relative; top: 1px; margin-right: 5px;}
#secondary .widget_themerex_recent_comments ul li .post_date { color: #b1b1b1;}
#secondary .widget_themerex_recent_comments ul li .icons li { margin: 0;}
#secondary .widget_themerex_recent_comments h3 { margin-bottom: 21px;}
#secondary .widget_themerex_recent_comments { padding-bottom: 27px;}
#secondary .widget_archive { padding-bottom: 16px;}
#secondary .widget_archive h3 { margin-bottom: 21px;}
#secondary .widget_meta h3 { margin-bottom: 21px;}
#secondary .widget_meta ul li { padding-left: 10px; background: url(../images/list_marker2.png) 0 7px no-repeat;}

/*colored*/
.colored { width: 100%; height:4px; overflow:hidden; position: absolute; top:0px; left:0px ;}
.colored div{ height:4px; width:20%; float:left;}

/*black & white custom*/
.switherHead{   margin: 0 auto ; max-width: 940px; height:40px; position:relative;}

svg.piechart {
    transform: scale(.1);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0;}
.vis svg.piechart { opacity: 1; transform: scale(1);}
div.pp_pic_holder { z-index: 9999999;}
#searchform input { vertical-align: top;}
#scrollTo { position: fixed; bottom: 20px; left: 50%; margin-left: -470px; display: block; min-width: 60px; height: 60px; color: #fff; text-decoration: none; overflow: hidden;}
#scrollTo .icon { position: absolute; top: 0; left: 0; font-size: 28px; line-height: 57px; width: 60px; text-align: center; height: 60px;}
#scrollTo .label { font-size: 18px; line-height: 24px; padding: 18px 28px 0 90px; text-transform: uppercase; font-weight: 700; display: block; margin-left: -999px;
                   -webkit-transition: all ease .9s;
                   -moz-transition: all ease .9s;
                   -ms-transition: all ease .9s;
                   -o-transition: all ease .9s;
                   transition: all ease .9s;}
#scrollTo:hover .label { margin-left: 0;
                         -webkit-transition: all ease .4s;
                         -moz-transition: all ease .4s;
                         -ms-transition: all ease .4s;
                         -o-transition: all ease .4s;
                         transition: all ease .4s;}



/********************************************/

/* -- Title - */
article .sc_title { font-weight: bold;}
article h1.sc_title.sc_title_style_1 { font-size: 18px; line-height: 21px; margin: 18px 0 16px;}
article h2.sc_title.sc_title_style_2 { font-size: 17px; line-height: 20px; margin: 17px 0 15px;}
article h3.sc_title.sc_title_style_3 { font-size: 16px; line-height: 19px; margin: 16px 0 14px;}
article h4.sc_title.sc_title_style_4 { font-size: 14px; line-height: 17px; margin: 14px 0 12px;}
article h5.sc_title.sc_title_style_5 { font-size: 13px; line-height: 16px; margin: 13px 0 11px;}
article h6.sc_title.sc_title_style_6 { font-size: 12px; line-height: 15px; margin: 12px 0 10px;}

/* -- Line - */
div.sc_line { border-top: 1px solid #ededed; padding:0; margin:15px auto 24px;}

/* -- Infoboxes  */
div.sc_infobox { text-align: center; padding: 9px 10px 9px; text-transform: capitalize; font-size: 12px; line-height: 15px; margin: 0 0 15px 0; font-weight:bold; position:relative;}
div.sc_infobox_style_regular { color: #727272; border: 1px solid #ddd;
                               background: rgb(255,255,255); /* Old browsers */
                               background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%); /* FF3.6+ */
                               background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(245,245,245,1))); /* Chrome,Safari4+ */
                               background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); /* Chrome10+,Safari5.1+ */
                               background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); /* Opera 11.10+ */
                               background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); /* IE10+ */
                               background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); /* W3C */
                               filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); }
div.sc_infobox_style_info { color: #bdae45; border: 1px solid #efda72;
                            background: rgb(254,254,253); /* Old browsers */
                            background: -moz-linear-gradient(top, rgba(254,254,253,1) 0%, rgba(251,246,226,1) 100%); /* FF3.6+ */
                            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,253,1)), color-stop(100%,rgba(251,246,226,1))); /* Chrome,Safari4+ */
                            background: -webkit-linear-gradient(top, rgba(254,254,253,1) 0%,rgba(251,246,226,1) 100%); /* Chrome10+,Safari5.1+ */
                            background: -o-linear-gradient(top, rgba(254,254,253,1) 0%,rgba(251,246,226,1) 100%); /* Opera 11.10+ */
                            background: -ms-linear-gradient(top, rgba(254,254,253,1) 0%,rgba(251,246,226,1) 100%); /* IE10+ */
                            background: linear-gradient(to bottom, rgba(254,254,253,1) 0%,rgba(251,246,226,1) 100%); /* W3C */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefd', endColorstr='#fbf6e2',GradientType=0 ); }
div.sc_infobox_style_success { color: #94aa5f; border: 1px solid #c8dc88;
                               background: rgb(252,255,243); /* Old browsers */
                               background: -moz-linear-gradient(top, rgba(252,255,243,1) 0%, rgba(230,239,196,1) 100%); /* FF3.6+ */
                               background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,243,1)), color-stop(100%,rgba(230,239,196,1))); /* Chrome,Safari4+ */
                               background: -webkit-linear-gradient(top, rgba(252,255,243,1) 0%,rgba(230,239,196,1) 100%); /* Chrome10+,Safari5.1+ */
                               background: -o-linear-gradient(top, rgba(252,255,243,1) 0%,rgba(230,239,196,1) 100%); /* Opera 11.10+ */
                               background: -ms-linear-gradient(top, rgba(252,255,243,1) 0%,rgba(230,239,196,1) 100%); /* IE10+ */
                               background: linear-gradient(to bottom, rgba(252,255,243,1) 0%,rgba(230,239,196,1) 100%); /* W3C */
                               filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff3', endColorstr='#e6efc4',GradientType=0 ); }
div.sc_infobox_style_error { color: #d29898; border: 1px solid #edcece;
                             background: rgb(255,250,250); /* Old browsers */
                             background: -moz-linear-gradient(top, rgba(255,250,250,1) 0%, rgba(255,233,233,1) 100%); /* FF3.6+ */
                             background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,250,250,1)), color-stop(100%,rgba(255,233,233,1))); /* Chrome,Safari4+ */
                             background: -webkit-linear-gradient(top, rgba(255,250,250,1) 0%,rgba(255,233,233,1) 100%); /* Chrome10+,Safari5.1+ */
                             background: -o-linear-gradient(top, rgba(255,250,250,1) 0%,rgba(255,233,233,1) 100%); /* Opera 11.10+ */
                             background: -ms-linear-gradient(top, rgba(255,250,250,1) 0%,rgba(255,233,233,1) 100%); /* IE10+ */
                             background: linear-gradient(to bottom, rgba(255,250,250,1) 0%,rgba(255,233,233,1) 100%); /* W3C */
                             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffafa', endColorstr='#ffe9e9',GradientType=0 ); }
div.sc_infobox_style_result { color: #94adb9; border: 1px solid #ccdae0;
                              background: rgb(247,251,252); /* Old browsers */
                              background: -moz-linear-gradient(top, rgba(247,251,252,1) 0%, rgba(233,247,254,1) 100%); /* FF3.6+ */
                              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,251,252,1)), color-stop(100%,rgba(233,247,254,1))); /* Chrome,Safari4+ */
                              background: -webkit-linear-gradient(top, rgba(247,251,252,1) 0%,rgba(233,247,254,1) 100%); /* Chrome10+,Safari5.1+ */
                              background: -o-linear-gradient(top, rgba(247,251,252,1) 0%,rgba(233,247,254,1) 100%); /* Opera 11.10+ */
                              background: -ms-linear-gradient(top, rgba(247,251,252,1) 0%,rgba(233,247,254,1) 100%); /* IE10+ */
                              background: linear-gradient(to bottom, rgba(247,251,252,1) 0%,rgba(233,247,254,1) 100%); /* W3C */
                              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#e9f7fe',GradientType=0 ); }
div.sc_infobox_closeable:after { content: ""; text-transform: none; display: block; position: absolute; top: 12px; right: 10px; width: 9px; height: 9px; background: url(../images/close_message_button.gif) 0 0 no-repeat;}
div.sc_infobox_style_regular:after { background-position: 0 0;}
div.sc_infobox_style_info:after { background-position: 0 -9px;}
div.sc_infobox_style_success:after { background-position: 0 -18px;}
div.sc_infobox_style_error:after { background-position: 0 -27px;}
div.sc_infobox_style_result:after { background-position: 0 -36px;}


/* -- Image - */
article figure.sc_image { margin:6px 0;}
article figure.sc_image.sc_image_align_left { float: left; margin-right: 19px;}
article figure.sc_image.sc_image_align_right { float: right; margin-left: 19px;}
article figure { overflow: hidden; position: relative;}
article figure img {vertical-align: top;}
article figure figcaption { position: absolute; bottom: 0; right: 0; left: 0; background: url(../images/slider-caption1.png) 0 0 repeat; font-size: 13px; line-height: 19px; color: #fff; padding: 5px 9px 4px; 
                            -webkit-transition: all ease .2s;
                            -moz-transition: all ease .2s;
                            -ms-transition: all ease .2s;
                            -o-transition: all ease .2s;
                            transition: all ease .2s;}
article figure:hover figcaption {margin-bottom: -30px;}

/* -- Quote - */
blockquote.sc_quote { float: left; width: 38%;  position: relative; padding: 18px 27px 20px 34px; color: #9b9b9b; font-style: italic;}
blockquote.sc_quote:after { clear: both; display: block; width: 100%; content: "";}
blockquote.sc_quote .quotes { position: absolute; top: 16px; left: 0; font-size: 14px; line-height: normal; width: 26px; height: 26px; background: #f1f1f1; text-align: center; border-radius: 26px;}
blockquote.sc_quote .quotes:before { display: inline-block; padding-top: 5px; color: #b1b1b1;}

/* -- Tooltip  */
.sc_tooltip_parent { color:#242424; position:relative;}
.sc_tooltip { background: #242424; color:#ffffff; position: absolute; top: -30px; display: none; font-size: 12px; height: 21px; line-height: 21px; padding: 0 5px; z-index: 999; white-space:nowrap; left:0;}
.sc_tooltip:after { border-style: solid; border-width: 5px 4px 0; border-color: #242424 transparent transparent; content: ""; display: block; position: absolute; width: 0; height: 0; left: 50%; bottom: -5px; margin-left: -4px;}

/* -- Dropcaps - */
.sc_dropcaps { margin-bottom: 19px;}
.sc_dropcaps:after { clear: both; width: 100%; content: ""; display: block;}
.sc_dropcaps.sc_dropcaps_style_1 span { float: left; font-size: 17px; line-height: 21px; background: #010c16; display: inline-block; padding: 2px 7px 3px; font-weight: bold; color: #fff; margin: 7px 8px 0px 0;}
.sc_dropcaps.sc_dropcaps_style_2 span { float: left; font-size: 17px; line-height: 21px; background: #e50700; display: inline-block; padding: 2px 7px 3px 6px; font-weight: bold; color: #fff; margin: 7px 8px 0px 0;}
.sc_dropcaps.sc_dropcaps_style_3 span { border-radius: 100%; float: left; font-size: 17px; line-height: 21px; background: #a0a7ad; display: inline-block; padding: 2px 7px 3px 6px; font-weight: bold; color: #fff; margin: 7px 8px 0px 0;}

/* -- Columns - */
div.sc_columns { overflow:hidden;}
div.sc_columns > div.content { float:left;}
div.sc_columns > div.first { margin-left:0 !important;}
div.sc_columns_count_2 > div.content { width: 48%;  margin-left:4%;}
div.sc_columns_count_3 > div.content { width: 31%;  margin-left:3.3%;}
div.sc_columns_count_3 > div.content.span_2 { width: 65.3%;}
div.sc_columns_count_4 > div.content { width: 22.8%;  margin-left:2.9%;}
div.sc_columns_count_4 > div.content.span_2 { width: 48%;}
div.sc_columns_count_4 > div.content.span_3 { width: 75%;}
div.sc_columns_count_5 > div.content { width: 18%;  margin-left:2.5%;}
div.sc_columns_count_5 > div.content.span_2 { width: 38.5%;}
div.sc_columns_count_5 > div.content.span_3 { width: 59%;}
div.sc_columns_count_5 > div.content.span_4 { width: 79.5%;}

/* -- List - */
ul.sc_list { margin: 0;}
ul.sc_list li { list-style: none; position: relative; padding: 0 0 0 18px; background-image:none !important;}
ul.sc_list li span { display: block; width: 12px; height: 12px; position: absolute; top: 4px; left: 0; background: url(../images/list-styles.png) 0 0 no-repeat;}
ul.sc_list.sc_list_style_check li span { background-position: right 0;}
ul.sc_list.sc_list_style_bad li span { background-position: 0 0;}
ul.sc_list.sc_list_style_star li span { background-position: right -12px;}
ul.sc_list.sc_list_style_regular li span { background-position: 0 -13px;}

/* -- Tabs type 1 - */
div.sc_tabs_style_1 { overflow: hidden;}
div.sc_tabs_style_1 ul.tab_names { padding: 0; margin: 0; border-bottom: 1px solid #e0e0e0;}
div.sc_tabs_style_1 ul.tab_names:after { clear: both; width: 100%; content: ""; display: block;}
div.sc_tabs_style_1 ul.tab_names li { list-style: none; float: left; margin: 0; padding: 0; font-size: 11px; line-height: 14px; text-transform: capitalize; margin-bottom: -1px; background-image: none;}
div.sc_tabs_style_1 ul.tab_names li + li { margin-left: 2px;}
div.sc_tabs_style_1 ul.tab_names li.tab_name a { text-decoration: none; padding: 7px 10px 7px; display: inline-block; color: #737678; background: #f7f7f7; border: 1px solid #e0e0e0;}
div.sc_tabs_style_1 ul.tab_names li.tab_name a:hover { background-color:#ffffff; text-decoration: none; color: #737678;}
div.sc_tabs_style_1 ul.tab_names li.tab_name a.current { background-color: #788187; color: #fff; border-color: #788187; font-weight: bold;}
div.sc_tabs_style_1 div.content { margin: 0; padding: 16px 0 0;}

/* -- /Tabs type 2 - */
div.sc_tabs_style_2 .tab_names { padding-bottom: 0 !important; margin: 0 !important; border-bottom: 1px solid #e0e0e0;}
div.sc_tabs_style_2 .tab_names:after { clear: both; width: 100%; content: ""; display: block;}
div.sc_tabs_style_2 .tab_names li { list-style: none; float: left; font-size: 12px; line-height: 15px; margin-bottom: -1px !important; background-image: none !important; padding-left:0 !important;}
div.sc_tabs_style_2 .tab_names li a { display: block; color: #737373; text-decoration: none; background: #f7f7f7; padding: 7px 12px 7px; border: 1px solid #e0e0e0; border-left: none;}
div.sc_tabs_style_2 .tab_names li:first-child { border-left: 1px solid #e0e0e0;}
div.sc_tabs_style_2 .tab_names li a:hover { background: #fff; color: #737373; text-decoration: none;}
div.sc_tabs_style_2 .tab_names li a.current { border-bottom: 1px solid #fff; background: #fff; color: #525252; font-weight: bold;}
div.sc_tabs_style_2 .content { background: #fff; border: 1px solid #e0e0e0; border-top: none; color: #878787; padding: 13px 12px;}

/* -- Accordion  */
.sc_accordion_style_1 .item { margin-bottom: 4px;}
.sc_accordion_style_1 .item h5 { border: 1px solid #e0e0e0;
                                 background: #ffffff; font-size: 12px; line-height: 15px; font-weight: bold; margin-bottom: 0;
                                 background: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
                                 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fcfcfc));
                                 background: -webkit-linear-gradient(top, #ffffff 0%,#fcfcfc 100%);
                                 background: -o-linear-gradient(top, #ffffff 0%,#fcfcfc 100%);
                                 background: -ms-linear-gradient(top, #ffffff 0%,#fcfcfc 100%);
                                 background: linear-gradient(to bottom, #ffffff 0%,#fcfcfc 100%);
                                 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc',GradientType=0 );}
.sc_accordion_style_1 .item h5 a { color: #707070; display: block; padding: 10px 34px 10px 11px; position: relative; text-decoration: none;}
.sc_accordion_style_1 .item h5 a span { width: 35px; top: 0; bottom: 0; position: absolute; right: 0; border-left: 1px solid #e0e0e0;}
.sc_accordion_style_1 .item h5 a:hover { text-decoration: none;}
.sc_accordion_style_1 .item h5 a span:after { display: block; height: 11px; width: 1px; background: #b4b4b4; position: absolute; top: 12px; left: 50%; content: "";}
.sc_accordion_style_1 .item h5 a span:before { display: block; height: 1px; width: 11px; background: #b4b4b4; position: absolute; top: 17px; left: 50%; margin-left: -5px; content: "";}
.sc_accordion_style_1 .item h5 a.current span:after {display: none;}
.sc_accordion_style_1 .item .content { font-size: 12px; line-height: 19px; color: #6b6b6b; padding: 12px 13px 8px;}
.sc_accordion_style_2 .item { margin-bottom: 9px; border-bottom: 1px solid #ebebeb; padding-bottom: 12px;}
.sc_accordion_style_2 .item h5 { margin-bottom: 0;}
.sc_accordion_style_2 .item h5 a { position: relative; display: block; font-size: 12px; line-height: 15px; font-weight: bold; color: #404040; text-decoration: none; padding: 3px 10px 0px 34px; color: #707070;}
.sc_accordion_style_2 .item h5 a span { position: absolute; display: block; width: 19px; height: 19px; border: 1px solid #dedede; left: 0; top: 0;
                                        background: #ffffff;
                                        background: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
                                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fcfcfc));
                                        background: -webkit-linear-gradient(top, #ffffff 0%,#fcfcfc 100%);
                                        background: -o-linear-gradient(top, #ffffff 0%,#fcfcfc 100%);
                                        background: -ms-linear-gradient(top, #ffffff 0%,#fcfcfc 100%);
                                        background: linear-gradient(to bottom, #ffffff 0%,#fcfcfc 100%);
                                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc',GradientType=0 );}
.sc_accordion_style_2 .item h5 a span:after { display: block; width: 7px; height: 1px; background: #9f9f9f; left: 6px; top: 9px; position: absolute; content: "";}
.sc_accordion_style_2 .item h5 a span:before { display: block; width: 1px; height: 7px; background: #9f9f9f; left: 9px; top: 6px; position: absolute; content: "";}
.sc_accordion_style_2 .item h5 a.current span:before {display: none;}
.sc_accordion_style_2 .item .content { font-size: 13px; line-height: 19px; padding: 8px 10px 0px 34px;}

/* -- Toggles  */
.sc_toggles h5 { display: block; margin-bottom: 7px; background: #ffffff;}
.sc_toggles h5 a { font-size: 12px; line-height: 16px; text-decoration: none; position: relative; padding: 10px 10px 9px 33px; color: #6b6b6b; text-decoration: none; display: block; border: 1px solid #e0e0e0;
                   background: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
                   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fcfcfc));
                   background: -webkit-linear-gradient(top, #ffffff 0%,#fcfcfc 100%);
                   background: -o-linear-gradient(top, #ffffff 0%,#fcfcfc 100%);
                   background: -ms-linear-gradient(top, #ffffff 0%,#fcfcfc 100%);
                   background: linear-gradient(to bottom, #ffffff 0%,#fcfcfc 100%);
                   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc',GradientType=0 );
}
.sc_toggles h5 a:hover { text-decoration: none !important;}
.sc_toggles h5 a span { position: absolute; width: 17px; height: 17px; background: #1e2021; top: 9px; left: 9px;}
.sc_toggles h5 a span:after { display: block; width: 7px; height: 1px; background: #fff; position: absolute; top: 8px; left: 5px; content: "";}
.sc_toggles h5 a span:before { display: block; width: 1px; height: 7px; background: #fff; position: absolute; top: 5px; left: 8px; content: "";}
.sc_toggles h5 a.current span:before { display: none;}
.sc_toggles .item .content { padding: 5px 13px 12px; font-size: 12px; line-height: 19px; color: #8f8f8f;}

/* -- Table  */
div.sc_table table { border-collapse:collapse; table-layout: fixed; margin-bottom: 20px;}
div.sc_table table td, 
div.sc_table table th { border: 1px solid #e0e0e0; padding:7px 10px 7px; background: #fff; width: 100%; overflow: hidden; font-size: 12px; color: #6b6b6b;}

div.sc_table table th {
    padding:9px 10px 9px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    font-size: 12px;
    line-height: 15px;
    font-weight:bold;
    color:#404040;
    background: #ffffff;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f7f7f7));
    background: -webkit-linear-gradient(#ffffff 0%, #f7f7f7 100%);
    background: -moz-linear-gradient(#ffffff 0%, #f7f7f7 100%);
    background: -ms-linear-gradient(#ffffff 0%, #f7f7f7 100%);
    background: -o-linear-gradient(#ffffff 0%, #f7f7f7 100%);
    background: linear-gradient(#ffffff 0%, #f7f7f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );}
div.sc_table table tr:hover td { background-color:#fcfcfc;}

/* -- Contact form  */
div.sc_contact_form h3.title { margin-bottom:0; color:#fff; font-size:14px; line-height:17px;}
div.sc_contact_form .description { display:block; margin:14px 0;}

/* -- Google map  */
div.sc_googlemap .map-canvas { min-width:100px; min-height:100px;}